

###############
### LiveKit ###
###############
LIVEKIT_URL=wss://...
LIVEKIT_API_KEY=APIsf...
LIVEKIT_API_SECRET=EXYw8Fid...

###############
### Backend ###
###############
BACKEND_PORT=3000
BACKEND_HOST=http://localhost


################
### Frontend ###
################
FRONTEND_PORT=3001
FRONTEND_HOST=http://localhost