

###############
### LiveKit ###
###############
LIVEKIT_URL=wss://...
LIVEKIT_API_KEY=APIsf...
LIVEKIT_API_SECRET=EXYw8Fid...

###############
### Backend ###
###############
BACKEND_PORT=3000
BACKEND_HOST=http://localhost

# Optional Kafka configuration. Leave empty to disable Kafka features.
# Provide a comma-separated list of brokers, e.g. "broker:9092" or "host1:9092,host2:9092"
KAFKA_BROKERS=
# Optional consumer group name
KAFKA_CONSUMER_GROUP=nestjs-producer-consumer


################
### Frontend ###
################
FRONTEND_PORT=3001
FRONTEND_HOST=http://localhost